[user]
    name = kahosan
    email = 15116355657l@gmail.com
[core]
    editor = nvim
[init]
    defaultBranch = main
[merge]
    conflictstyle = zdiff3
[diff]
    algorithm = histogram
[log]
    date = iso
[alias]
    undo = reset --soft HEAD^
    cancel = reset --hard HEAD^
    onemore = commit -a --amend --no-edit

